<div class="page-container">
  <div>
    <table mat-table matSort [dataSource]="items">
      <ng-container matColumnDef="select">
        <th scope="col" mat-header-cell *matHeaderCellDef>
          <mat-checkbox [disabled]="items?.length===0"
                        (change)="$event ? selection.masterToggle(items) : null"
                        [checked]="selection.isAllSelected(items)"
                        [indeterminate]="selection.hasValue() && !selection.isAllSelected(items)">
          </mat-checkbox>
        </th>
        <td [attr.data-label]="'Select'" mat-cell *matCellDef="let row">
          <ngpl-skeleton width="25px" height="25px" shape="circle">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </ngpl-skeleton>
        </td>
      </ng-container>
      <!-- Numero Column -->
      <ng-container matColumnDef="code">
        <th class="px-2" mat-header-cell *matHeaderCellDef mat-sort-header>Code
        </th>
        <td class="px-2" mat-cell *matCellDef="let element">
          <ngpl-skeleton [isLoading]="searching" width="75%" height="15px">
            {{element?.code }}
          </ngpl-skeleton>
        </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="description">
        <th class="px-2" mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td class="px-2" mat-cell *matCellDef="let item">
          <ngpl-skeleton [isLoading]="searching" width="75%" height="15px">
            {{item?.description}}
          </ngpl-skeleton>
        </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th class="px-2" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td class="px-2" mat-cell *matCellDef="let item">
          <ngpl-skeleton [isLoading]="searching" width="75%" height="15px">
            {{item?.name}}
          </ngpl-skeleton>
        </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th class="px-2" mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
        <td class="px-2" mat-cell *matCellDef="let item">
          <ngpl-skeleton [isLoading]="searching" width="75%" height="15px">
            {{item?.value}}
          </ngpl-skeleton>
        </td>
      </ng-container>


      <ng-container matColumnDef="action">
        <th class="text-center pl-2 pr-3" mat-header-cell *matHeaderCellDef>Opciones</th>
        <td class="text-center pl-2 pr-3" mat-cell *matCellDef="let item">
          <ngpl-skeleton [isLoading]="searching" height="24px" width="24px" shape="circle">
            <mat-icon class="mat-18 more" [matMenuTriggerFor]="menuRef">more_vert
            </mat-icon>
          </ngpl-skeleton>

          <mat-menu #menuRef="matMenu" xPosition="before">
            <!--										<button mat-menu-item [routerLink]="['Anticipo', item?.id]"-->
            <!--										        [queryParams]="{anno:rangeDateCtrl?.value?.anno, mes:rangeDateCtrl?.value?.mes, preview:true}">-->
            <!--											<mat-icon class="mat-18">find_in_page</mat-icon>-->
            <!--											<span>Vista previa</span>-->
            <!--										</button>-->

            <button mat-menu-item matTooltip="Delete" (click)="delete(item)">
              <mat-icon class="mat-18">delete</mat-icon>
              <span>Delete</span>
            </button>

          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </div>
</div>
